@CHARSET "UTF-8";

.text-center {
	text-align: center;
}
input:disabled {
	color: #999999;
}
pre.debug {
	width: 100%;
	overflow: auto;
	overflow-wrap: anywhere;
}

.w-100 {
	width: 100% !important;
}

.center {
	text-align: center !important;
}

.tab {
	margin-right: 10px;
}

a.abtn, button.abtn {
	text-decoration: none;
	background-color: transparent;
	vertical-align: top;
	border: 0;
	margin: 2px;
	padding: 0;
	width: 70px;
}

a.abtn.abtn-xs, button.abtn.abtn-xs, .abtn-xs {
	height: 18px;
	width: 18px;
}

button.btn-img {
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-right: 2px;
}

.lt-ie9 button.btn-img {
	position: relative;
	top: -1px;
}

#depi-breadcrumb {
	margin-top: 5px;
	margin-bottom: 10px;
}

#depi-breadcrumb img, #depi-breadcrumb span {
	display: block;
}

#depi-app #menu_horizontal .dropdown {
	border-bottom: 1px solid #bc0000;
	top: 68px;
	width: 200px;
}
#depi-app #menu_horizontal #s1 {
	left: 30px;
}

#depi-app #menu_horizontal #s2 {
	left: 239px;
}

#depi-app .tabela_verm, #depi-app .tabela_sucesso {
	width: 100%;
}

#depi-app .tabela_verm li, #depi-app .tabela_sucesso li {
	text-align: left;
}

#box_loading {
	display: none;
	margin-left: auto;
	margin-right: auto;
    width: 100px;
    height: 10px;
}
#carregandoImg {
	display: none;
}

#Lista {
	WIDTH: 400px; 
	Z-INDEX: 1;
}

#tabela_interna caption {
	text-align: left;
}

#tabela_interna, .tabela_botoes {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#tabela_interna {
	width: 90%;
}

.tabela_botoes {
	width: 95%;
	height: 20px;
}

.Consulta .selecao {
	width: 10%;
	text-align: center;
}

.MotivoDeposito .descricao {
	width: 29%;
	overflow-wrap: anywhere;
}

.MotivoDeposito .responsavel {
	width: 18%;
	text-align: center;
}

.MotivoDeposito .atualizacao {
	width: 18%;
}

.Departamento .sigla {
	width: 15%;
}
.Departamento .nome {
}
.Departamento .responsavel, .Departamento .atualizacao {
	width: 20%;
}

.lista .atualizacao {
	text-align: center;
}

.subtitulo {
	color: #666666;
}

.paginacao {
	text-align: center;
	margin: 4px auto 12px auto;
}

.paginacao a {
	cursor: pointer;
}

.paginacao a.disabled, .paginacao a.disabled:hover {
	color: #aaaaaa;
	cursor: default;
}

.sortable th {
	text-decoration: underline;
	cursor: pointer;
}

.GoPage:after {
	content: ','
}
.GoPage:last-of-type:after {
	content: ''
}

.pointer {
	cursor: pointer;
}


.btn.disabled {
	opacity: 0.5;
	cursor: auto;
}

#tabela_interna .Funcionario {
    background-color: white;
    border: 0;
    margin: 0px auto 10px;
    width: 99%;
}

button#BtnSalvar {
    position: relative;
    top: -1px;
}

.tblFuncionarios {
    max-height: 251px;
    overflow: auto;
}

.mt2 {
	margin-top: 2px;
}
.mt3 {
	margin-top: 3px;
}
.mt4 {
	margin-top: 4px;
}
.ml2 {
	margin-left: 2px;
}
.ml3 {
	margin-left: 3px;
}
.ml4 {
	margin-left: 4px;
}